	<div class="span5 offset7">
		<h2 class="custom-pic-header">Here are all the pics!</h2>
	</div>
	<% @pics.each do |pic| %>
		<div class="span3">
			<div class="boxy">
				<h2><i>Hour: </i><%= pic.hour %></h2>
				<p/>
				<%= image_tag pic.image %>
				<p/>
				<h4><i>Emotion: </i><%= pic.emotion %>
				<p/>
				<br/>
				<i>What I Learned: </i> 
				<p/>
				<%= pic.learned %></h4>
				<p/>

			</div>
		</div>
	<% end %>
	<br/>

